
    @media  (max-width: 480px)
    {
        body{
            padding:20px;
        }
        .wrapper
        {
            max-width: 420px;
            
        }

        .container
        {
            max-width: 400px;
            margin: 40px auto;
        }
        #time_btns
        {
            max-width: 100%;
        }
        #time_btns> button
        {
            font-size: 0.9em;
	        padding:6px 10px;
            margin: 0;
        }
        #time_show
        {
            font-size: 5em;
            padding: 20px 0;
        }
        #add_task_box_inp_num input
        {
            width: 70px;
        }
        #settings_box
        {
            width: 250px;

            position: absolute;
            top: 70px;
            left: 100px;
        }
        #settings_box i
        {
            position: absolute;
            top: 8px;
            right: 8px;
        }
        #settings_box .flex
        {
            flex-direction: column;
        }

    }