*
{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    
}
:root
{
    --radius: 5px;
    --accent: rgb(180, 53, 53);
    --primary: rgb(194, 68, 68);
    --secondary: rgb(206, 111, 111);
    --gray: rgb(226, 224, 224);
    --hover: rgb(180, 48, 48);
}
body
{
    margin:0;
    height: 100vh;
    background-color: var(--primary);
    color:white;
}

.wrapper
{
    max-width: 700px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5
{
    margin:0;
}

.flex
{
    display: flex;
    justify-content: space-between;
}
input
{
    border:none;
    outline:none;
    border-radius: var(--radius);
    padding: 8px 20px;
}
button
{
    border:none;
    outline:none;
    cursor: pointer;
    border-radius: var(--radius);
    padding: 8px 20px;
    background-color: var(--secondary);
    color:white;
    font-size: 1em;
}
/*==================================================*/
.settings
{
    padding: 20px 0;
    border-bottom: 2px solid var(--accent);
    position: relative;
}
.sr_btns>button
{
    margin-left: 10px;
}
.container
{
    max-width: 500px;
    margin: 40px auto;
}
.container>div{
    margin-bottom: 40px;
}
.timer
{
    
    padding: 20px;
    text-align: center;
    background-color: var(--secondary);
    border-radius: var(--radius);
}
.time_btns>button
{
    margin: 0 5px;
}
.active
{
    background-color: var(--primary);
}
#time_show
{
    font-size: 7em;
    padding: 20px 0;
}
#start_btn
{
    background-color: white;
    color: var(--primary);
    padding: 12px 40px;
    font-weight: bold;
    -webkit-box-shadow: 0px 13px 20px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 13px 20px 2px rgba(0,0,0,0.2);
}

.add_task button
{
    width: 100%;
    padding: 20px 40px;
    outline:none;
    background-color: var(--accent);
    border: 2px dashed var(--secondary);
    color:white;
    cursor:pointer;
}
.add_task button:hover
{
    background-color: var(--hover);
}
#add_task_box
{
    background-color: white;
    border-radius: var(--radius);
    color:rgb(37, 37, 37);

    display: none;
}
#add_task_box textarea
{
    font-size: 1.2em;
    border: none;
    outline:none;
    width:100%;
}
.inside_upAddTaskBox
{
    padding:14px;
}
#add_task_box_inp_num>*
{
    font-size: 1.1em;
    padding: 10px 12px;
    width:min-content;
    margin-right: 5px;
}
#add_task_box_inp_num>input
{
    background-color:rgb(226, 224, 224);
    
}

#up, #down
{
    background-color: white;
    color:black;

    border:none;
    -webkit-box-shadow: -2px 1px 4px 2px rgb(0 0 0 / 20%);
    box-shadow: -2px 1px 4px 2px rgb(0 0 0 / 20%);

}
.save_cancel 
{
    background-color: rgb(226, 224, 224);
    padding: 14px;
    text-align: end;
    border-radius: var(--radius);
}
.save_cancel button
{
    width:min-content;
    background-color: inherit;
    color:rgb(72, 71, 71);
    border:none;
    padding: 5px 12px;


}
.save_cancel button:last-child
{
    background-color: rgb(160, 160, 160);
    color:white;
}
.save_cancel button:hover, .save_cancel button:last-child :hover
{
    background-color: inherit;
    color:black;
}

.task_liste
{
    margin-top: 20px;
    background-color:white;
    color:black;
    padding: 16px;
    border-radius:var(--radius);
    border-left: 8px solid white; 
    
    
}
.task_liste:hover
{
  border-left: 8px solid black; 
}
.task_liste i, b
{
    color: var(--gray);
    font-size: 1.1em;
    margin: 0 6px;
}
small
{
    margin-left: 50px;
}
small a
{
    color:rgb(247, 243, 6);
    margin-left: 5px;
    font-weight: bold;
}

#settings_box
{
    width: 400px;
    background-color: rgb(245, 244, 244);
    border-radius: var(--radius);
    -webkit-box-shadow: 0px 13px 20px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 13px 20px 2px rgba(0,0,0,0.2);
    color:rgb(186, 183, 183);
    padding: 30px;

    position: absolute;
    top: 70px;
    left: 150px;

    display: none;
    
}
.time_inps input
{
    width: 80px;
}
.settings_box h4
{
    margin: 10px 0 5px 0;
    color:rgb(126, 125, 125);
}
.in_time_inps span
{
    display: block;
    margin-bottom: 5px;
}